<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀的详情页</title>
    <div th:include="common/common :: html"></div>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="panel panel-default text-center">
        <div class="panel-heading" th:text="${item.name}">hell</div>
        <div class="panel-body"></div>
    </div>
</div>
</body>
</html>